<div class="row">
  <div class="col-sm-12">
    <img style="max-height: 300px;" [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="manageRecipeDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" (click)="onClickDropdown()">
        Manage Recipe <span class="caret"></span>
      </button>

      <div class="dropdown-menu" [ngClass]="{'show': dropdownToggled}" aria-labelledby="manageRecipeDropdown">
        <a href="#" class="dropdown-item">To Shopping List</a>
        <a href="#" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete recipe</a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Description: {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
